/* .intLink {
    cursor: pointer;
  }
  img.intLink {
    border: 0;
  }
  #toolBar1 select {
    font-size: 10px;
  }
  #textBox {
    width: 540px;
    height: 200px;
    border: 1px #000000 solid;
    padding: 12px;
    overflow: scroll;
  }
  #textBox #sourceText {
    padding: 0;
    margin: 0;
    min-width: 498px;
    min-height: 200px;
  }
  #editMode label {
    cursor: pointer;
  } */

  
  #toolbar2 img{
    flex-grow: 1;
    height: 30px;
    width: 100%;
    /* border: 1px solid black; */
    margin-right: 0 10px;
  }

  div{
      /* border: 1px solid green; */
  }


  #textBox
  {
    height: 70vh;
    word-wrap: break-word;
    overflow: scroll;
  }
  
  #results{
    height: 87vh;
    
  }

  iframe{
    border: 1px solid black;
    height: 85vh;
    width: 100%;
  }

 